DB_HOST= localhost
DB_USER= DB_USER_HERE
DB_PASS= DB_PASS_HERE
DB_PORT= 3306
DB_NAME= DB_NAME_HERE
DB_LIMIT=100
SECRET_KEY=sadsadsadlkpojonlpoipoisadjsadjsaoidjsapdopsadisapodnnlxzckzcjpsaadpsaidsadsaodjakdhsajdjk
BASE_URL = /api/v1/
BASE_URL_ALL = /api/all/v1/
FILE_URL =
FILE_FOLDER =/home/hoang/PROJECT/
LISTEN_PORT= 9000
LIMIT = 100
DEBUG = true
TZ = Asia/